.anim {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    padding-top: 50px;
	padding-bottom: 30px;
}

.anim .container_anim {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.anim .animation-area {
    position: relative;
    width:1300px;
    height: 200px;
    margin: 30px auto;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}



.anim .image_parametre{
	visibility: hidden;
	position: absolute;
	width:100px;
	z-index: 5;   
	padding : 0px 140px;
	top:1;left:0;right:0;bottom:0;
	
}

.anim .image_parametre.active
{
	visibility: visible;
	animation: image_parametre 2s linear infinite;
}

@keyframes image_parametre {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Style des machines */
.anim .node {
    width: 150px;
    height: 120px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 2; /* Reste au-dessus des flèches */
}
.anim .ATL { background: #3498db; }
.anim .PATV { background: #3498db; }
.anim .LDD { background: #3498db; }

.anim .LDD.active:after{
  content:'';
  background:#ff3600;
  width:7px;
  height:120px;
  display: block;
  position: absolute;
  top:0;left:10;right:10;bottom:0;
  margin:auto;
  opacity:.7;
  z-index: 10000;
  animation:5s scanAnim infinite ease-in-out;
}
@keyframes scanAnim {
  0%   {transform:translateX(-70px);}
  50%  {transform:translateX(70px);}
  100% {transform:translateX(-70px);}
}

/* Style de base des éléments animés */
.anim .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    opacity: 0; /* Caché par défaut */
    /* C'est cette ligne qui gère l'animation fluide : */
    transition: all 0.8s ease-in-out; 
    z-index: 1;
}

/* --- ÉTATS DE L'ANIMATION --- */

/* Requete création de scan  */
.anim .arrow_creation_scan {
    background: #ff9800;
    left: 50px ; /* Position de départ, près du client */
}
.anim .arrow_creation_scan.active {
    opacity: 1;
    left: 380px; /* Position d'arrivée, près du serveur */
}
.anim .arrow_reveil_LDD {
    background: #ff9800;
    left: 700px ; /* Position de départ, près du client */
}
.anim .arrow_reveil_LDD.active {
    opacity: 1;
    left: 805px; /* Position d'arrivée, près du serveur */
}
.anim .arrow_remonte_scan {
    background: #ff9800;
    left: 1100px ; /* Position de départ, près du client */
}
.anim .arrow_remonte_scan.active {
    opacity: 1;
    left: 740px; /* Position d'arrivée, près du serveur */
}
.anim .arrow_analyse_scan {
    background: #ff9800;
    left: 50px ; /* Position de départ, près du client */
}
.anim .arrow_analyse_scan.active {
    opacity: 1;
    left: 300px; /* Position d'arrivée, près du serveur */
}


/* Style des contrôles */
.anim .controls button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
.anim .controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.anim .description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
    height: 20px; /* Évite que le texte saute si la phrase est longue */
}